<h1><%= t(:all_course) %></h1>

<%= will_paginate %>

<table class="table">
  <thead>
    <th><%= t 'name' %></th>
    <th><%= t 'subject_text' %></th>
    <th><%= t 'supervisor' %></th>
    <th><%= t 'trainee' %></th>
  </thead>

  <%= render @courses %>

</table>

<%= will_paginate %>
