<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "FRAMGIA TRAINING SYSTEM", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <% if logged_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Course <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <% if current_user.supervisor? %>
                <li><%= link_to "Add new", '#' %></li>
                <li>
                  <%= link_to "View all", '#' %>
                </li>
              <% else %>
                <li>
                  <%= link_to "View all", '#' %>
                </li>
              <% end %>
            </ul>
          </li>
          <% if current_user.supervisor? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Subject <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Add new", '#' %></li>
                <li>
                  <%= link_to "View all", '#' %>
                </li>
              </ul>
            </li>
          <% end %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Trainee <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <% if current_user.supervisor? %>
                <li><%= link_to "Add new", supervisor_signup_path %></li>
                <li>
                  <%= link_to "View all", supervisor_users_path(
                                          role: User::ROLE[:trainee]) %>
                </li>
              <% elsif current_user.trainee? %>
                <li>
                  <%= link_to "View all", users_path(
                                          role: User::ROLE[:trainee]) %>
                </li>
              <% end %>
            </ul>
          </li>
          <% if current_user.supervisor? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Supervisor <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to "View all", supervisor_users_path(
                                          role: User::ROLE[:supervisor]) %>
                </li>
              </ul>
            </li>
          <% end %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
